<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Your Tasks
      </h1>
      <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-white is-medium">all</span>
              <span class="tag is-black is-medium"><%= @tasks.count %></span>
            </div>
          </div>

          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-white is-medium">new</span>
              <span class="tag is-black is-medium"><%= @tasks.count %></span>
            </div>
          </div>

          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-white is-medium">completed</span>
              <span class="tag is-black is-medium"><%= @tasks.count %></span>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<secion class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
      <table class="table">
        <thead>
          <tr>
            <th>Lead</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% @tasks.each do |task| %>
          <tr>
            <td><%= task.lead.name %></td>
            <td><%= task.lead.email %></td>
            <td><%= task.lead.phone %></td>
            <td><%= task.task_type %></td>
            <td><%= task.description %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</secion>