<%= simple_form_for(@lead, url: dealer_car_leads_path(dealer_id, car_id)) do |f| %>
	<%= f.error_notification %>
	<div class="field">
		<div class="control">
			<%= f.label :name, "Name *", class: 'is-size-5'  %>
			<%= f.input :name, required:true, autofocus:true, input_html: {class: "input"}, wrapper: false, label: false %>
		</div>
	</div>

	<div class="field">
		<div class="control">
			<%= f.label :phone, "Phone *", class: 'is-size-5'  %>
			<%= f.input :phone, required:true, autofocus:true, input_html: {class: "input"}, wrapper: false, label: false %>
		</div>
	</div>

	<div class="field">
			<div class="control">
				<%= f.label :email, "Email *", class: 'is-size-5'  %>
				<%= f.input :email, required:true, autofocus:true, input_html: {class: "input"}, wrapper: false, label: false %>
			</div>
		</div>

	<%= f.simple_fields_for :tasks do |p| %>
		<div class="field">
			<div class="control">
				<%= p.label :task_type, "Request Type", class: 'is-size-5' %>
				<br>
				<div class="select">
				<%= p.input :task_type, :collection => ['Call Back', 'View Car', 'Make Offer', 'Schedule Test Drive'], label: false, wrapper: false, :selected => ['Call Back'], include_blank: false %>
				</div>
			</div>
		</div>
		<div class="field">
			<div class="control">
				<%= p.label :description, "Optional Message", class: 'is-size-5' %>
				<br>
				<%= p.input :description, required:true, autofocus:true, input_html: {class: "textarea"}, wrapper: false, label: false %>
			</div>
		</div>
	<% end %>

	<br>
	
	
	<div class="field">
		<div class="control">
			<%= f.button :submit, "Submit", class: "button is-primary is-medium" %>
		</div>
	</div>
	

<% end %>