<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Leads
      </h1>
      <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-white is-medium">all</span>
              <span class="tag is-black is-medium"><%= @leads.count %></span>
            </div>
          </div>

          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-white is-medium">new</span>
              <span class="tag is-black is-medium"><%= @leads.count %></span>
            </div>
          </div>

          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-white is-medium">hot</span>
              <span class="tag is-black is-medium"><%= @leads.count %></span>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<secion class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Add Task</th>
            <th>View Tasks</th>
            <th>Delete Lead</th>
          </tr>
        </thead>
        <tbody>
          <% @leads.each do |lead| %>
          <tr>
            <td><%= lead.name %></td>
            <td><%= lead.phone %></td>
            <td><%= lead.email %></td>
            <td><%= link_to 'Add Task', new_dealer_car_lead_task_path(@dealer.id,lead.car_id,lead.id) %></td>
            <td><%= link_to 'View Tasks', dealer_car_lead_tasks_path(@dealer.id,lead.car_id,lead.id) %></td>
            <td><%= link_to 'Delete Lead', dealer_car_lead_path(@dealer.id,lead.car_id,lead.id), method: :delete %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</secion>