<%= simple_form_for(@car, url: dealer_car_path) do |f| %>
	<%= f.error_notification %>
	<div class="field">
		<div class="control">
			<%= f.input :vin, required:true, autofocus:true, input_html: {class: "input"}, wrapper: false, label_html: {class: "label"} %>
		</div>
	</div>

	<div class="field">
		<div class="control">
			<%= f.input :make, required:true, autofocus:true, input_html: {class: "input"}, wrapper: false, label_html: {class: "label"} %>
		</div>
	</div>

	<div class="field">
		<div class="control">
			<%= f.input :model, required:true, autofocus:true, input_html: {class: "input"}, wrapper: false, label_html: {class: "label"} %>
		</div>
	</div>

	<div class="field">
		<div class="control">
			<%= f.input :year, required:true, autofocus:true, input_html: {class: "input"}, wrapper: false, label_html: {class: "label"} %>
		</div>
	</div>

	<div class="field">
		<div class="control">
			<%= f.input :price, required:true, autofocus:true, input_html: {class: "input"}, wrapper: false, label_html: {class: "label"} %>
		</div>
	</div>
	
	<div class="field">
		<div class="control">
			<%= f.button :submit, class: "button is-primary" %>
		</div>
	</div>
	
<% end %>