<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @car.make %>&nbsp;<%= @car.model %>
      </h1>
        <div class="field is-grouped is-grouped-multiline">
        	<div class="control">
        	  <div class="tags has-addons">
        	    <span class="tag is-black is-medium">Price</span>
        	    <span class="tag is-white is-medium"><%= @car.price %></span>
        	  </div>
        	</div>

        	<div class="control">
        	  <div class="tags has-addons">
        	    <span class="tag is-black is-medium">VIN</span>
        	    <span class="tag is-white is-medium"><%= @car.vin %></span>
        	  </div>
        	</div>

        	<div class="control">
        	  <div class="tags has-addons">
        	    <span class="tag is-black is-medium">Leads</span>
        	    <span class="tag is-white is-medium"><%= @leads.size %></span>
        	  </div>
        	</div>
        </div>
    </div>
  </div>
</section>


<secion class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column">
			<table class="table">
				<thead>
					<tr>
						<th>Car ID</th>
						<th>VIN</th>
						<th>Year</th>
						<th>Make</th>
						<th>Model</th>						
						<th>Price ($)</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= @car.id %></td>
						<td><%= @car.vin %></td>
						<td><%= @car.year %></td>
						<td><%= @car.make %></td>
						<td><%= @car.model %></td>
						<td><%= @car.price %></td>
						<td><%= link_to 'Edit', edit_dealer_car_path(@car.dealer_id,@car) %></td>
						<td><%= link_to 'Delete', dealer_car_path(@car.dealer_id,@car), method: :delete,data: {confirm: "Are you sure?"}  %></td>
					</tr>
				</tbody>
			</table>

			<div id="car">
				<b><%= @car.id %></b>
				<br>
				<i>VIN : <%= @car.vin %></i>
			</div>
			

			<!-- Trigger -->
			<button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#car">
			    Copy to clipboard
			</button>



			</div>
		</div>
	</div>
</secion>