<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @car.posting_title %>
      </h1>
    </div>
  </div>
</section>


<section class="section">
	<div class="container">
		<div class="columns">
			<!-- Inventory Info -->
			<div class="column is-8">
				
			</div>
			<!-- Inventory Status -->
			<div class="column is-4">
				<% if @car.sold == false %>
					<div class="tags has-addons">
					  <span class="tag is-dark is-large">Status</span>
					  <span class="tag is-success is-large">Available</span>
					</div>
					<div class="tags has-addons">
					  <span class="tag is-dark is-large">Price</span>
					  <span class="tag is-warning is-large">$<%= @car.price %></span>
					</div>
					<div class="tags has-addons">
					  <span class="tag is-dark is-large">VIN</span>
					  <span class="tag is-warning is-large"><%= @car.vin %></span>
					</div>
					<% if @leads.size > 0 %>
						<div class="tags has-addons">
						  <span class="tag is-dark is-large">Enquries</span>
						  <span class="tag is-warning is-large"><%= @leads.size %></span>
						</div>
					<% end %>
					<% if @car.carfax_available == true %>
						<div class="tags has-addons">
						  <span class="tag is-dark is-large">CarFax</span>
						  <span class="tag is-warning is-large">Available</span>
						</div>
					<% end %>
					<div class="box">
						<h4 class="title is-4">Make Enquiry</h4>
						<p>We respect your privacy. Your information is sent only to the dealership, directly.</p>
						
						<br>
						<%= render '/leads/new_form', lead: @lead, car_id: @car.id, dealer_id: current_dealer.id, task: @task %>
					</div>
				<!-- if car sold -->
				<% else %>
					<div class="tags has-addons">
					  <span class="tag is-dark is-large">Status</span>
					  <span class="tag is-danger is-large">Sold</span>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</section>


<secion class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column">
			<table class="table">
				<thead>
					<tr>
						<th>Car ID</th>
						<th>VIN</th>
						<th>Year</th>
						<th>Make</th>
						<th>Model</th>						
						<th>Price ($)</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= @car.id %></td>
						<td><%= @car.vin %></td>
						<td><%= @car.year %></td>
						<td><%= @car.make %></td>
						<td><%= @car.model %></td>
						<td><%= @car.price %></td>
						<td><%= link_to 'Edit', edit_dealer_car_path(@car.dealer_id,@car) %></td>
						<td><%= link_to 'Delete', dealer_car_path(@car.dealer_id,@car), method: :delete,data: {confirm: "Are you sure?"}  %></td>
					</tr>
				</tbody>
			</table>

			<div id="car">
				<b><%= @car.id %></b>
				<br>
				<i>VIN : <%= @car.vin %></i>
			</div>
			

			<!-- Trigger -->
			<button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#car">
			    Copy to clipboard
			</button>



			</div>
		</div>
	</div>
</secion>