<!DOCTYPE html>
<html>
  <head>
    <title>Pipewheel</title>
    <%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,600i,900' %>
  </head>

  <body>

    <% if flash[:notice] %>
      <div class="notification is-success global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <!-- Navbar -->
  	<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  	  <div class="navbar-brand">
  	    <!-- navbar items, navbar burger... -->
  	    <%= link_to 'pipewheel', root_path, class:'navbar-item is-size-4' %>
  	  </div>
  	  <div class="navbar-menu">
  	 	<!-- If Dealer has signed in -->
  	    <% if dealer_signed_in? %>
  	    <div class="navbar-start">
			     <%= link_to 'Inventory', dealer_cars_path(current_dealer.id), class:'navbar-item' %>
  	    </div>
  	    <div class="navbar-end">
  	    	<div class="navbar-item">
  	    	  <div class="field is-grouped">
  	    	    <p class="control">
  	    	      <%= link_to 'Add Inventory', new_dealer_car_path(current_dealer.id), class:'navbar-item button' %>
  	    	    </p>
  	    	    <p class="control">
  	    	      <%= link_to 'Sign Out', destroy_dealer_session_path, method: :delete, class:'button is-warning' %>
  	    	    </p>
  	    	  </div>
  	    	</div>
  	    </div>
  	    <% else %>
  	    <div class="navbar-end">
  	    	<div class="navbar-item">
  	    	  <div class="field is-grouped">
  	    	    <p class="control">
  	    	      <%= link_to 'Sign Up Today', new_dealer_registration_path, class:'navbar-item button is-info' %>
  	    	    </p>
  	    	    <p class="control">
  	    	      <%= link_to 'Sign In', new_dealer_session_path, class:'navbar-item button is-primary' %>
  	    	    </p>
  	    	  </div>
  	    	</div>
  	    </div>
  	    <% end %>
  	  </div>
  	</nav>

    <%= yield %>
  </body>
</html>
